<% provide(:title, @user.name) %>

<body class="Meal-index">
  <h1><%= @user.name %>の食事の献立表一覧</h1>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= link_to "食事の献立表　新規作成", new_user_ng_item_path(@user), class: "btn btn-lg btn-primary pull-right" %>
      <table class="table table-hover" id="table-tasks">
        <thead>
          <tr>
            <th><%= NgItem.human_attribute_name :date %></th>
            <th><%= NgItem.human_attribute_name :company %></th>
            <th><%= NgItem.human_attribute_name :image %></th>
            <th><%= NgItem.human_attribute_name :created_at %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
        <% @ng_items.each do |ng_item| %>
          <tr>
            <% if ng_item.date.present? %>
              <td><%= link_to l(ng_item.date, format: :long), user_ng_item_path(@user, ng_item), id: "task-name" %></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= link_to ng_item.company, user_ng_item_path(@user, ng_item), id: "task-name" %></td>
            <% if ng_item.avatar.attached? && ng_item.avatar.variable? %>
              <td style="max-width: 500px; max-height: 500px;">
                <% if heic_image?(ng_item.avatar) %>
                  <%= image_tag ng_item.avatar.variant(convert: "jpg", resize: "100x100!").processed, alt: '画像', class: 'img-fluid image-thumbnail', data: { large_image_url: rails_blob_url(ng_item.avatar) } %>
                <% else %>
                  <%= image_tag ng_item.avatar.variant(resize: "100x100!").processed, alt: '画像', class: 'img-fluid image-thumbnail', data: { large_image_url: rails_blob_url(ng_item.avatar) } %>
                <% end %>
              </td>
            <% else %>
              <td>画像なし</td>
            <% end %>
            <td><%= l(ng_item.created_at, format: :long) %></td>
            <td>
              <%= link_to "編集", edit_user_ng_item_path(@user, ng_item), class: "btn btn-success" %>
              <%= link_to "削除", user_ng_item_path(@user, ng_item), method: :delete,
              data: { confirm: "「#{ng_item.name}」を削除します。よろしいですか？"}, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</body>

<div id="image-modal">
  <img src="" alt="Large image">
</div>