<% provide(:title, 'Recover') %>

<h1>電子カルテ（自己申告）　新規作成</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_with(model: @task, url: user_tasks_path(@user), local: true) do |f| %>
      <%= render partial: 'shared/error_messages', locals: { obj: @task } %>
      
      <%= f.label :name, class: "label-form" %>
      <%= f.text_field :name, class: "form-control" %>
      
      <%= f.label :company, class: "label-form" %>
      <%= f.text_area :company, rows: 10, class:"form-control" %><br>
      
      <%= f.label :description, class: "label-form" %>
      <%= f.text_area :description, rows: 10, class: "form-control", 
      value: '' %>

      <%= f.label :image, class: "label-form" %>
      <%= f.file_field :image, rows: 10, class: "form-control" %>
      
      <%= f.submit "新規登録", class: "btn btn-lg btn-primary btn-form" %>
    <% end %>
  </div>
</div>