<% provide(:title, 'New Items') %>

<h1>利益商品新規作成</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_with(model: @task, url: user_tasks_path(@user), local: true) do |f| %>
      <%= render partial: 'shared/error_messages', locals: { obj: @task } %>
      
      <%= f.label :name, class: "label-form" %>
      <%= f.text_field :name, class: "form-control" %>
      
      <%= f.label :company, class: "label-form" %>
      <%= f.select :company, [["ブックオフ", "ブックオフ"], ["ハードオフ", "ハードオフ"], ["GEO", "GEO"], 
      ["トレファク", "トレファク"], ["古本市場", "古本市場"], ["ヤマダ電機", "ヤマダ電機"], ["島忠ホームズ", "島忠ホームズ"],
      ["メルカリ", "メルカリ"],["Amazon", "Amazon"],["その他", "その他"]], class:"form-control" %><br>
      
      <%= f.label :store, class: "label-form" %>
      <%= f.text_field :store, class: "form-control" %>
      
      <%= f.label :description, class: "label-form" %>
      <%= f.text_area :description, rows: 5, class: "form-control", value: 'メルカリ相場: 円　keepa波形:　仕入れ値:円　入金:円　経費:円　利益:円'  %>
     
      <%= f.submit "新規登録", class: "btn btn-lg btn-primary btn-form" %>
    <% end %>
  </div>
</div>